00_graph_bench/obj
00_graph_bench/bin
00_graph_bench/build
00_graph_bench/sniper
00_graph_bench/sniper-results
00_graph_bench/cache-results
00_graph_bench/openmp-results
sniper-results
nohup.out
00_graph_bench/nohup.out

.vscode
opengraphsim.sublime-project
opengraphsim.sublime-workspace